@use '../global/' as *;

.intro-anim {
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
  display: block;
  position: relative;
  z-index: 1000;

  &__orange-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--orange);
    z-index: 1001;
    transform-origin: top;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__logo {
    position: absolute;
    bottom: 0;
    left: var(--side-padding-mob);
    right: var(--side-padding-mob);
    z-index: 2;
    // padding-bottom: 8rem;

    @include mq($dt) {
      left: var(--side-padding-dt);
      right: var(--side-padding-dt);
    }

    .logo-full {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: opacity 1.2s var(--easing) .6s;

      &--beige path {
        fill: var(--white);
      }

      &--black {
        clip-path: inset(0 0 100% 0);

        path {
          fill: var(--black);
        }
      }
    }
  }


}

.home-top-logo-container {
  width: 100%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  z-index: 1000;
}

.home-top-logo {
  width: 100%;
  height: auto;

  path {
    fill: var(--black);
  }
}