
.intro-anim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99000;
  display: none;

  .start-intro & {
    display: block;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 9rem;
    height: 100%;
  }

  &__logo {
    max-width: 80%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  &__r {
    flex-grow: 1;
    width: auto;
    position: relative;
    z-index: 1;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--beige);
    width: 0;
  }

  &__bg-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--orange);
    width: 100%;
  }
}