@use '../global/' as *;

menu-carousel {
  display: block;
  position: relative;

  img, video {
    width: 100%;
    object-fit: contain;
    object-position: center;
    opacity: 0;
    top: 0;
    object-position: center;
    height: 100vw;

    @include mq($dt) {
      height: calc(100vh - var(--header-height));
    }
  }
}