@use '../global/' as *;

simple-carousel {
  display: block;
  position: relative;

  img, video {
    width: 100%;
    object-fit: contain;
    object-position: center;
    opacity: 0;
    top: 0;
  }
}

.simple-carousel-counter {
  display: none;

  @media (hover: hover) and (pointer: fine) {
    display: block;
  }
}