<header class="header__wrapper" role="banner">
	{% block logo %}
		{% include '../svgs/logo.twig' %}
	{% endblock %}
	<nav class="header__navigation" aria-label="Main navigation">
		<ul class="header__menu">
			<li class="header__menu-item">
				<a href="/about" title="About">About</a>
			</li>
			<li class="header__menu-item">
				<a href="/focus-areas" title="Focus Areas">Focus Areas</a>
			</li>
			<li class="header__menu-item">
				<a href="/events" title="Events">Events</a>
			</li>
			<li class="header__menu-item">
				<a href="/insights" title="Insights">Insights</a>
			</li>
			<li class="header__menu-item">
				<a href="/membership" title="Membership">Membership</a>
			</li>
		</ul>
	</nav>
	<div class="header__actions">
		{% include '../components/button.twig' with { "text": "Contact", "class": "button--grey", "type": "button" } %}

		{% include '../components/button.twig' with { "text": "Join us", "class": "button--yellow ", "type": "button", "arrow": "true" } %}
	</div>
</header>

