<section class="hero">
	<div class="hero__text-wrapper">

		<h1 class="hero__heading heading heading--1">A platform for dialogue and partnerships
			<span>in the energy sector of the Baltic Sea Region</span>
		</h1>

		<div class="hero__sub-text-wrapper">
			<p>Fostering knowledge exchange, building collaborative partnerships and implementing activities.</p>
			<p>To unlock the Baltic’s potential in energy sectors such as offshore wind, hydrogen and derivatives, CCUS, security of energy infrastructure and security of supply.</p>
		</div>
	</div> 
	<button class="hero__scroll-btn caption caption--small unstyled-button">scroll to explore</button>

	<video class="hero__video" src="/assets/videos/rybki.mp4" muted playsinline loop autoplay></video>
</section>
