{% set image_ticker = {
  "background_color": "beige",
  "direction": "ltr",
  "images": [
    {
      "image": "./images/ro-1.jpg",
      "alt": "Placeholder Image 1",
    },
    {
      "image": "./images/ro-2.jpg",
      "alt": "Placeholder Image 2",
    },
    {
      "image": "./images/ro-3.jpg",
      "alt": "Placeholder Image 3",
    },
    {
      "image": "./images/ro-4.jpg",
      "alt": "Placeholder Image 4",
    }
  ]
} %}

{% set scrollspeed = image_ticker.direction == 'ltr' ? 1 : -1 %}

<section class="it {{class}} reveal">
	<sp-lide data-auto-scroll="1" class="splide" data-splide='{
						        "type": "loop",
						        "autoWidth": true,
						        "gap": "1.8rem",
						        "focus": "center",
						        "pagination": false,
						        "arrows": false,
						        "drag": "free",
						        "autoScroll": {
						          "speed": {{scrollspeed}},
						          "pauseOnHover": true
						        },
						        "mediaQuery": "min",
						        "breakpoints": {
						          "1180": {
                          "gap": "2.4rem"
						          }
						        }
						      }'>
		<div class="splide__track">

			<ul class="splide__list unstyled-list">
				{% for image in image_ticker.images %}
					<li class="splide__slide">
						<img class="it__asset" src="{{ image.image }}" alt="{{ image.alt }}">
					</li>
				{% endfor %}
			</ul>
		</div>
	</sp-lide>
</section>
