<section class="text-asset">
  <div class="container">
    <div class="text-asset__content anim-trigger">
      <div class="text-asset__asset mb-20 mb-dt-0 reveal-child">
        {% if data.video is defined and data.video is not empty %}
          <div class="text-asset__video">
            <video src="{{ data.video }}" muted playsinline></video>
          </div>
        {% else %}
          {% if data.image is defined and data.image is not empty %}
            <div class="text-asset__image">
              <img src="{{ data.image }}" alt="{{ data.alt }}">
            </div>
          {% endif %}
        {% endif %}
      </div>

      <div class="text-asset__text reveal-child">
        {% if data.text_html is defined and data.text_html is not empty %}
          <div class="text-asset__text-html fs-16 lh-1-2 lh-dt-1-3">{{ data.text_html | raw }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
