<div class="button__arrow">
	<svg width="13" height="12" viewbox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M13 5.99114L6.81039 12L5.58708 10.8124L9.67697 6.84195H0V5.15805H9.67697L5.58708 1.18759L6.81039 0L13 6.00886V5.99114Z" fill="#1D1C1C"/>
	</svg>
</div>
