@use '../global' as *;

.footer {

  @include mq($dt) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__ticker {
    padding-top: 1rem;
    padding-bottom: 6rem;

    @include mq($dt) {
      padding-top: 2.4rem;
      padding-bottom: 9.4rem;
    }
  }

  &__container {
    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 0 1.4rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include mq($dt) {
      grid-column: span 6;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem 2.4rem;
      align-self: start;
    }
  }

  &__info-link {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__info-link-label {
    transition: all .3s var(--easing);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: skew(-15deg, 0deg);
      }
    }
  }

  .f-icon {
    width: 1.5rem;
    height: 1.5rem;

    &.icon-circle {
      background-color: currentColor;
      border-radius: 50%;
    }

    &.icon-triangle {
      background-color: currentColor;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transform: rotate(90deg);
    }
  }

  &__nav {
    @include mq($dt) {
      grid-column: 8 / span 3;
    }
  }

  &__nav-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0 2.2rem;
  }



  &__nav-col {
    display: flex;
    flex-direction: column;
  }

  &__nav-link {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid currentColor;
    min-height: 2.5rem;

    span {
      display: inline-block;
      transition: all .3s var(--easing);

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          transform: skew(-15deg, 0deg);
        }
      }
    }
  }

  &__meta {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0 2.2rem;
  }

  &__meta-item {
    display: flex;
    gap: .5rem;
    align-items: center;

    &:nth-child(2) {
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__byline {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;


    @media (hover: hover) and (pointer: fine) {
      &:hover {
        svg {
          rect {
            fill: var(--beige);
          }

          path {
            stroke: var(--black);
          }
        }
      }
    }
  }

  &__logo-wrapper {
    @include mq($dt) {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
    }
  }

  &__logo {
    width: 100%;
    height: auto;
  }

}