@use "../global"as *;

.header {
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border);
  position: fixed;
  z-index: 90000;
  padding-left: 48px;
  padding-right: 48px;
  height: 70px;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
 
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 8px;
  }

  &__menu-item {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__actions {
    display: flex;
    gap: 10px;
  }
}