@use '../global' as *;

.header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90000;
  transition: transform 0.35s var(--easing);
  
  .start-intro & {
    transform: translateY(-100%);
  }

  .show-nav & {
    transform: translateY(0);
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.25s var(--easing);

    @include mq($dt) {
      display: none;
    }
  }

  &.active {
    &:after {
      opacity: 1;
    }
  }

  &__ticker {
    transition: height 0.25s var(--easing), padding-top 0.25s var(--easing), padding-bottom 0.25s var(--easing);
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    .active & {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-grey);
    min-height: 5rem;
  }

  &__logo-wrapper {
    position: relative;
    z-index: 10;

    @include mq($dt) {
      position: absolute;
      bottom: 1.2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__logo {
    width: 19rem;
    height: auto;
  }

  &__burger {
    position: relative;
    z-index: 10;

    span {
      width: 48px;
      height: 3px;
      background-color: var(--black);
      display: block;
      margin: 4px 0;
    }

    .active & {
      span {
        transition: opacity 0.25s var(--easing), transform 0.25s var(--easing);

        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }


    }
  }

  &__nav {
    position: fixed;
    inset: 0;
    overscroll-behavior: contain;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s var(--easing);
    background-color: var(--orange);
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include mq($dt) {
      opacity: 1;
      pointer-events: all;
      background-color: transparent;
      position: relative;
      height: 100%;
    }

    .active & {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__nav-lists {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    flex: 1;
    justify-content: center;
    
    @include mq($dt) {
      flex-direction: row;
      gap: 3rem;
      justify-content: space-between;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;

    @include mq($dt) {
      flex-direction: row;
      gap: 3rem;
      justify-content: space-between;
    }
  }

  &__nav-logo {
    width: 9.5rem;
    height: auto;
  }

  &__nav-link {

    @media (hover: hover) and (pointer: fine) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--black);
        transition: all 0.3s var(--easing);
        transform: scaleX(0);
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }


  }


}