@use '../global/' as *;

.ar {

  &__container {

    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 0 1.6rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.2rem;

    @include mq($dt) {
      grid-column: 2 /span 10;
    }
  }

  &__asset-wrapper {
    width: 100%;

    img,
    video {
      width: 100%;
      height: auto;
    }
  }

}