@use '../global/' as *;

.booking-pop {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  
  &[open] {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &.visible {
    opacity: 1;
  }

  &__close {
    position: fixed;
    top: 1rem;
    right: var(--side-padding-mob);
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s var(--easing);

    @include mq($dt) {
      right: var(--side-padding-dt);
      top: 1.4rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  &__logo {
    position: absolute;
    top: 1rem;
    left: var(--side-padding-mob);
    width: 19rem;
    height: auto;
    
    @include mq($dt) {
      top: 1.4rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__inner {
    width: 100%;
    min-height: 100%;
    max-width: 90rem;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__button {
    align-self: center;
  }

  &__iframe-container {
    width: 100%;
    max-width: 92rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  &__iframe {
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    height: calc(100vh - var(--header-height) - 5rem);
    height: calc(100svh - var(--header-height) - 5rem);

    @include mq($dt) {
      height: calc(100vh - var(--header-height) - 20rem);
    }
  }
}