@use '../global/' as *;

.contact-block {

  &__grid {
    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      align-items: stretch;
      gap: 1.4rem;
    }
  }

  &__media {
    width: 100%;

    @include mq($dt) {
      grid-column: span 6;
    }

    img,
    video {
      width: 100%;
      height: auto;
    }
  }

  &__content {

    @include mq($dt) {
      grid-column: 8 / span 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    p {
      margin-bottom: 2rem;

      &:first-child {
        margin-bottom: 3rem;
        font-size: 1.6rem;

      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__links {
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
  }

  &__link {
    flex: 1;
  }


}