@use '../global/' as *;

.fa {

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    @include mq($dt) {
      display: grid;
    }
  }

  &__asset {
    @include mq($dt) {
      grid-column: 3 / span 8;
    }
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.3rem; 
    align-items: flex-start;
    
    @include mq($dt) {
      grid-column: 4 / span 6;
    }
  }

  &__title {
    text-align: center;

    @include mq($dt) {
      text-align: left;
    }

  }

  &__link {
    width: 100%;

    @include mq($dt) {
      width: auto;
      align-self: center;
    }
  }
}