@use '../global/' as *;

.ht {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height));

    @include mq($dt) {
      gap: 2.8rem;
    }
  }

  &__asset {
    width: 100%;
    height: auto;
  }
}