@forward 'text-assets-scroll';
@forward 'text-buttons';
@forward 'logos-ticker';
@forward 'big-text';
@forward 'items-carousel';
@forward 'full-slider';
@forward 'projects-grid';
@forward 'single-asset-link';
@forward 'single-asset';
@forward 'about-project';
@forward 'designer-top';
@forward 'assets-row';
@forward 'text-on-asset-list';
@forward 'text-asset';
@forward 'mono-list-asset';
@forward 'text-columns';
@forward 'contact-block';
@forward 'quote';
@forward 'table';