@use '../global/' as *;

.ic {
  &__slide {
    img, video {
      height: 19rem;
      width: auto;

      @include mq($dt) {
        height: 36rem;
      }
    }
  }

  &__asset-caption {
    padding-top: .8rem;

    @include mq($dt) {
      padding-top: 1rem;
    }
  }
}