@use '../global/' as *;

.menu {
  display: block;

  @include mq($dt) {
    display: flex;
    flex-direction: row-reverse;  
    gap: var(--side-padding-dt);
    align-items: flex-start;
    position: relative;
  }

  &__carousel {
    display: block;
    position: relative;

    @include mq($dt) {
      flex: 1;
      position: sticky;
      top: var(--header-height);
    }

    &[hidden] {
      display: none;
    }
  }

  &__text-wrapper {
    @include mq($dt) {
      flex: 1;
      padding-top: calc(100vh - var(--header-height) - 10rem);
    }
  }

  &__tabs {
    display: block;

    [role="tablist"] {
      display: flex;
      gap: 2rem;
    }

    [role="tab"] {
      cursor: pointer;
      opacity: .25;
      transition: opacity .25s var(--easing);
      text-align: left;
      position: relative;
      z-index: 1;

      &[aria-selected="true"] {
        opacity: 1;
      }
    }


    [role="tabpanel"] {
      display: none;

      &:not([hidden]) {
        display: block;
      }
    }
  }

  &__tab-list {
    @include mq($dt) {
      position: sticky;
      top: calc(var(--header-height) + 2rem);
      z-index: 90;

      &:after {
        content: '';
        position: fixed;
        top: 0rem;
        left: 0rem;
        width: 50%;
        height: 13rem;
        background-color: transparent;
        z-index: 0;
        transition: background-color .15s var(--easing);
      }
    }

    &.sticky {
      @include mq($dt) {
        &:after {
          background-color: var(--white);
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    &--indent {
      padding-left: 2.5rem;

      @include mq($dt) {
        padding-left: 10rem;;
      }
    }
  }

  &__item-divider {
    display: none;

    @include mq($dt) {
      display: block;
      width: 100%;
      height: 1px;
    }
    
    &--no-indent {
      @include mq($dt) {
        background-color: var(--light-grey);
      }
    }

    
    &--indent {
      margin-left: 2.5rem;
      width: calc(100% - 2.5rem);

      @include mq($dt) {
        margin-left: 10rem;
        width: calc(100% - 10rem);
      }
    }
  }
}