@use '../global/' as *;

.pop-up {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  
  &[open] {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &.visible {
    opacity: 1;
  }

  &__close {
    position: fixed;
    top: 1rem;
    right: var(--side-padding-mob);
    cursor: pointer;
    z-index: 100;
    transition: transform 0.3s var(--easing);

    @include mq($dt) {
      right: var(--side-padding-dt);
      top: 1.4rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    opacity: 0;
    transition: opacity 1.2s var(--easing) .55s;

    .visible & {
      opacity: 1;
    }
  }

  &__inner {
    width: 100%;
    min-height: 100%;
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include mq($dt) {
      display: grid;
      gap: var(--side-padding-dt);
      align-items: center;
    }
  }

  &__assets {
    @include mq($dt) {
      grid-column: 2 / span 4;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mq($dt) {
      grid-column: 7 / span 6;
    }
  }

  &__title {
    @include mq($dt) {
      grid-column: 1 / 1;
    }
  }

  &__text {
    padding-left: 1rem;

    @include mq($dt) {
      grid-column: 2 / span 4;
    }
  }


}