@use '../global/' as *;

.pg {

  &__heading {
    border-top: 1px solid var(--black);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    @include mq($dt) {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.2rem;
    }
  }

  &__item {
    position: relative;
  }

  &__item-asset {
    img, video {
      width: 100%;
      height: auto;
    }
  }
  

  &__item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.6rem;
  }

  &__item-title {
    margin-bottom: .5rem;

    @include mq($dt) {
      margin-bottom: 1.4rem;
    }
  }

  &__item-rating {
    display: inline-flex;
    gap: .2rem;

    svg {
      height: 1.2rem;
      width: auto;
      margin-top: .2rem;

      @include mq($dt) {
        height: 1.5rem;
        width: auto;
      }
    }
  }

}
