@use '../global/' as *;

.quote {

  &__container {
    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 1.4rem;
    }
  }

  &__inner {
    @include mq($dt) {
      grid-column: 2 /span 5;
    }
  }
}