@use '../global/' as *;

.rlt {
  
  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .rlt__text {
          opacity: 1;
        }

        .rlt__rm {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &__text {

    transition: opacity .15s var(--easing);

    @media (hover: hover) and (pointer: fine) {
      opacity: .6;
    }

  }

  &__rm {
    position: relative;
    align-self: flex-start;
    padding-bottom: 4px;

    @media (hover: hover) and (pointer: fine) {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--black);
        transition: all .3s var(--easing);
        transform: scaleX(0);
      }
    }
  }
}