@use '../global/' as *;

.rlg {

  @include mq($dt) {
    // border-top: 1px solid var(--black);
    // border-bottom: 1px solid var(--black);
  }

  &__grid {
    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }
  }

  &__item {

    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: var(--side-padding-dt);
      align-items: center;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--black);

      @include mq($dt) {
        border-bottom: 0;
      }
    }

    &:nth-child(odd) {
      border-right: 1px solid var(--black);
    }

  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    text-align: center;

    @include mq($dt) {
      justify-content: center;
      grid-column: span 5;
    }
    
    &--even {
      @include mq($dt) {
        margin-left: auto;
        margin-right: 0;
        grid-column: 2 / span 5;
      }
    }
  }

  &__asset-wrapper {
    width: 100%;
  }

  &__asset {
    width: 100%;
    height: auto;
  }
}