@use '../global/' as *;

.sal {

  &__container {

    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 0 1.6rem;
    }
  }

  &__content {
    @include mq($dt) {
      grid-column: 2 /span 10;
    }
  }

  &__asset-wrapper {
    width: 100%;

    img,
    video {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    @include mq($dt) {
      max-width: 45rem;
    }
  }

  &__bottom-text {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-shrink: 0;

    svg {
      height: 1.5rem;
      width: auto;
    }
  }

  &__eco {
    margin-left: 1rem;
  }

}