@use '../global/' as *;

.table {
  position: relative;
  display: block;

  &__container {
    @include mq($dt) {
      display: grid;
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.2rem;
    border-bottom: 1px solid var(--black);

    @include mq($dt) {
      grid-template-columns: 4fr 8fr
    }
  }

  &__tab-btn {
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
    text-align: left;

    &.is-active {
      opacity: 1;
    }
  }

  &__panel {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__content {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    // Hide scrollbar while keeping functionality
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    min-width: min-content; // Ensures the grid doesn't shrink smaller than its content
  }

  &__header {
    display: grid;
    gap: 1rem;
    font-weight: bold;
    grid-template-columns: 3fr 5fr 4fr 2fr 10fr;

    [data-cols="3"] & {
      grid-template-columns: 5fr 5fr 4fr 10fr;
    }
  }

  &__row {
    display: grid;
    gap: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-template-columns: 3fr 5fr 4fr 2fr 10fr;

    [data-cols="3"] & {
      grid-template-columns: 5fr 5fr 4fr 10fr;
    }

    &:hover,
    &.is-active {
      font-weight: bold;
    }
  }

  &__preview {
    display: none;

    @include mq($dt) {
      display: block;
      position: absolute;
      top: 8rem;
      right: 0;
      bottom: 0;
      width: calc(5/12 * 100vw);
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;

      &.is-visible {
        opacity: 1;
      }
    }
  }

  &__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}