@use '../global/' as *;

.text-asset {

  &__content {
    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      align-items: start;
      gap: 1.4rem;
    }
  }
  &__asset {
    width: 100%;

    @include mq($dt) {
      grid-column: span 6;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {

    @include mq($dt) {
      grid-column: 8 / span 4;
    }

    p {
      margin-bottom: 2rem;

      &:first-child {
        margin-bottom: 3rem;
        font-size: 1.8rem;

        @include mq($dt) {
          font-size: 2.4rem;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  
}
