@use '../global/' as *;

.twi {

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include mq($dt) {
      display: grid;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include mq($dt) {
      grid-row: 1;
      grid-column: 1 / span 5;
      gap: 3.6rem;
    }

    .twi--flip & {
      @include mq($dt) {
        grid-column: 8 / span 5;
      }
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;

    @include mq($dt) {
      gap: 1rem 3.2rem;
    }
  }

  &__asset {
    width: 100%;
    height: auto;

    @include mq($dt) {
      grid-row: 1;
      grid-column: 7 / span 6;
    }

    .twi--flip-mobile & {
      order: 9;

      @include mq($dt) {
        order: initial;
      }
    }

    .twi--flip & {
      @include mq($dt) {
        grid-column: 1 / span 6;
      }
    }
  }

}