@use '../global/' as *;

.text-on-asset-list {
  &__item {
    position: relative;

    


  }

  &__item-text {
    position: relative;
    z-index: 2;
  }

  &__item-text-container {
    @include mq($dt) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 1.6rem;
    }
  }

  &__item-text-inner {
    @include mq($dt) {
      grid-column: 3 / span 8;
    }
  }

  &__item-asset {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img, video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
