@use '../global/' as *;

.text-columns {

  @include mq($dt) {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.2rem;
  }

  &__item {
    position: relative;
    border-top: 1px solid var(--black);

    @include mq($dt) {
      grid-column: span 6;
    }

    &--1 {
      @include mq($dt) {
        grid-column: span 1;
      }
    }

    &--2 {
      @include mq($dt) {
        grid-column: span 2;
      }
    }

    &--3 {
      @include mq($dt) {
        grid-column: span 3;
      }
    }
    
    &--4 {
      @include mq($dt) {
        grid-column: span 4;
      }
    }
    
    &--5 {
      @include mq($dt) {
        grid-column: span 5;
      }
    }

    &--6 {
      @include mq($dt) {
        grid-column: span 6;
      }
    }
    
    &:last-child {
      border-bottom: 1px solid var(--black);

      @include mq($dt) {
        border-bottom: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 1px;
      bottom: 1px;
      right: 0;
      width: 20%;
      background: linear-gradient(to left, rgba(255, 255, 255, 1 ) 0%, rgba(255, 255, 255, 0) 100%);
      pointer-events: none;

      @include mq($dt) {
        display: none;
      }
    }
  }

  &__columns {
    display: flex;
    
    @include mq($dt) {
      overflow-x: initial;
      gap: 1.2rem;
      display: flex !important; // override splide
    }
  }

  &__column {
    flex: 0 0 50vw;
    min-width: 50vw;
    padding-left: var(--side-padding-mob);
    display: flex;
    flex-direction: column;
    gap: .6rem;

    @include mq($dt) {
      flex: 1;
      min-width: initial;
      padding-left: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .fs__star {
      display: inline-block;
      
      &:nth-child(2) {
        margin-left: 0.5rem;
      }
    }

    span {
      @media (hover: hover) and (pointer: fine) {
        transition: all .3s var(--easing);
        display: inline-block;

        &:hover {
          transform: skew(-15deg, 0deg);
        }
      }
    }
  }
}