@use '../global' as *;

html {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%; // => 10px

  @include mq($dt) {
    font-size: 56.25%; // => 9px
  }

  @include mq($big) {
    font-size: 62.5%; // => 10px
  }
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  padding-top: var(--header-height);
  width: 100%;
  transition: background-color 0.35s var(--easing) .35s;
  
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

::selection {
  background-color: #f4f4f4;
  color: #ff4d00;
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  // display: none;
}

strong {
  font-weight: normal;
}

img {
  display: block;
}

/* base-focus */
/*
  Focus ring - default (with offset)
*/

*:focus {
  // outline: 0;
  // box-shadow: none;
}

*:focus-visible {
  // outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  // outline-offset: 0.3rem;
  // box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused,
.no-js *:focus {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
.no-js *:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/*
  Focus ring - inset
*/

.focus-inset:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

.focused.focus-inset,
.no-js .focus-inset:focus {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

.no-js .focus-inset:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
}

.main {
  position: relative;
}

.home-page {

  .left-blob {
    display: none;

    @include mq($dt) {
      display: block;
      position: absolute;
      top: 50vh;
      left: -3rem;
      width: auto;
      height: 110vh;
      z-index: 90;
      pointer-events: none;
      opacity: .85
    }
  }

  .right-blob {
    display: none;

    @include mq($dt) {
      display: block;
      position: absolute;
      top: 100vh;
      right: 0;
      width: auto;
      height: 110vh;
      z-index: 90;
      pointer-events: none;
      opacity: .77;
    }
  }
}

.menus-page {

  .left-blob {
    display: none;

    @include mq($dt) {
      display: block;
      position: absolute;
      top: 50vh;
      left: -4rem;
      width: auto;
      height: 110vh;
      z-index: -1;
      pointer-events: none;
      opacity: 1;

    }

    path {
      fill: var(--light-green);
    }
  }

  .right-blob {
    display: none;

    @include mq($dt) {
      display: block;
      position: absolute;
      top: 10vh;
      right: 0;
      width: auto;
      height: 110vh;
      z-index: 90;
      pointer-events: none;
    }

    path {
      opacity: 1;
    }
  }
}

.about-page {
  .bottom-blob {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
  }
}