@font-face {
  font-family: "Beausite Fit";
  src:
    url("../../assets/fonts/BeausiteFitWeb-Regular.woff2") format("wof2"),
    url("../../assets/fonts/BeausiteFitWeb-Regular.woff") format("woff");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Maison Neue Mono";
  src:
    url("../../assets/fonts/MaisonNeueMono-Regular.woff2") format("wof2"),
    url("../../assets/fonts/MaisonNeueMono-Regular.woff") format("woff");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}


