@font-face {
  font-family: "Satoshi";
  src:
    url("../../assets/fonts/Satoshi-Regular.woff2") format("wof2"),
    url("../../assets/fonts/Satoshi-Regular.woff") format("woff");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("../../assets/fonts/Satoshi-Medium.woff2") format("wof2"),
    url("../../assets/fonts/Satoshi-Medium.woff") format("woff");
  font-display: block;
  font-weight: 500;
  font-style: normal;
}