@use '../global' as *;

.w-100 {
  width: 100%;
}

.dt-only {
  display: none;

  @include mq($dt) {
    display: block;
  }

  &--flex {
    @include mq($dt) {
      display: flex;
    }
  }
}

.mob-only {
  display: block;

  @include mq($dt) {
    display: none;
  }
}

.unstyled-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--black, #111111);
  cursor: pointer;
}

.unstyled-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
 max-width: 1440px;
 padding-left: 48px;
 padding-right: 48px;
 margin: auto;
}


.mw-800 {
  max-width: 80rem;
}

.mw-550 {
  max-width: 55rem;
}

.mw-330 {
  max-width: 33rem;
}

video-loop {
  display: block;
}

.empty {
  &:empty {
    display: block;
  }
}

.sr-only,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.square-asset {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;

  img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.hover-text {
  position: fixed;
  pointer-events: none;
  padding: 8px 16px;
  background: white;
  color: black;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 1000;
  font-size: 14px;
  transition: opacity 0.2s ease;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

[data-item-hover] {
  img, video {
    &:hover {
      cursor: none;
    }
  }
} 