@use '../global' as *;

$spacing: (
	'0': 0,
	'5': 0.5rem,
	'10': 1rem,
	'14': 1.4rem,
	'15': 1.5rem,
	'16': 1.6rem,
	'18': 1.8rem,
	'20': 2rem,
	'24': 2.4rem,
	'30': 3rem,
	'32': 3.2rem,
	'40': 4rem,
	'50': 5rem,
	'60': 6rem,
	'70': 7rem,
	'80': 8rem,
	'90': 9rem,
	'100': 10rem,
	'120': 12rem,
	'150': 15rem,
	'160': 16rem,
	'190': 19rem,
	'200': 20rem,
	'240': 24rem,
);

@each $key, $value in $spacing {
	.pt-#{$key} {
		padding-top: $value;
	}
	.pb-#{$key} {
		padding-bottom: $value;
	}
	.mt-#{$key} {
		margin-top: $value;
	}
	.mb-#{$key} {
		margin-bottom: $value;
	}
}

@each $key, $value in $spacing {
	.pt-dt-#{$key} {
		@include mq($dt) {
			padding-top: $value;
		}
	}
	.pb-dt-#{$key} {
		@include mq($dt) {
			padding-bottom: $value;
		}
	}
	.mt-dt-#{$key} {
		@include mq($dt) {
			margin-top: $value;
		}
	}
	.mb-dt-#{$key} {
		@include mq($dt) {
			margin-bottom: $value;
		}
	}
}
