@use "../global/"as *;

//
// Typography Styles

// Headlines
.heading {
  font-family: var(--font);
  font-weight: 500; // Medium
  line-height: 1.2;

  &--1 {
    font-size: 6.4rem; // 64px
    letter-spacing: -0.64px;
  }

  &--2 {
    font-size: 5.4rem; // 54px
  }

  &--3 {
    font-size: 2.2rem; // 22px
  }
}

// Paragraph
.paragraph {
  font-family: var(--font);
  font-weight: 400; // Regular
  line-height: 1.4;

  &--1 {
    font-size: 1.7rem; // 17px
  }
}

// Button / Link
.button {
  font-family: var(--font);
  font-weight: 500; // Medium

  line-height: 1;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;

  &--regular {
    font-size: 1.8rem; // 18px
  }

  &--menu {
    font-size: 1.6rem; // 16px
    box-shadow: none;
  }

  &--grey {
    border-radius: 10px;
    border: 1px solid var(--border);
    background: transparent;
  }

  &--arrow {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &--yellow {
    display: flex;
    background-color: var(--yellow);
    border-radius: 10px;
    border: 1px solid var(--yellow);
  }

  &__arrow {
    background-color: var(--dark-yellow);
    padding: 5px;
    border-radius: 5px;
  }
}

// Caption
.caption {
  font-family: var(--font);
  font-weight: 500; // Medium
  font-size: 1.7rem; // 17px
  line-height: 1.2;

  &--small {
    font-size: 1.2rem; // 12px
    text-transform: uppercase;
  }
}