@use '../global/' as *;

$font-sizes: (
  '12': 1.2rem,
  '14': 1.4rem,
  '16': 1.6rem,
  '18': 1.8rem,
  '20': 2rem,
  '22': 2.2rem,
  '25': 2.5rem,
  '26': 2.6rem,
  '28': 2.8rem,
);

$line-heights: (
  '1': 1,
  '1-15': 1.15,
  '1-2': 1.2,
  '1-3': 1.3,
  '1-4': 1.4,
  '2': 2,
  '2-2': 2.2,
);

$letter-spacings: (
  '0': 0rem,
);

@each $key, $value in $font-sizes {
  .fs-#{$key} {
    font-size: $value;
  }
}

@each $key, $value in $font-sizes {
  .fs-dt-#{$key} {
    @include mq($dt) {
      font-size: $value;
    }
  }
}

@each $key, $value in $line-heights {
  .lh-#{$key} {
    line-height: $value;
  }
}

@each $key, $value in $line-heights {
  .lh-dt-#{$key} {
    @include mq($dt) {
      line-height: $value;
    }
  }
}

@each $key, $value in $letter-spacings {
  .ls-#{$key} {
    letter-spacing: $value;
  }
}

@each $key, $value in $letter-spacings {
  .ls-dt-#{$key} {
    @include mq($dt) {
      letter-spacing: $value;
    }
  }
}

.ff-mono {
  font-family: var(--font-mono);
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.upper {
  text-transform: uppercase;
}

.btn {
  color: var(--black);
  font-size: 1.8rem;
  line-height: 1.3;
  border: 1px solid var(--black);
  padding: .3rem 6rem;
  display: inline-block;
  text-align: center;
  border-radius: 5rem;
  text-transform: uppercase;
  background-color: transparent;
  transition: all .3s var(--easing);
  cursor: pointer;


  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  @include mq($dt) {
    padding: .8rem 2rem;
    font-size: 2rem;
    line-height: 1.2;
  }

  &--white {
    color: var(--white);
    border-color: var(--white);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--white);
        color: var(--blue);
      }
    }
  }

  &--maroon-h {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--maroon);
      }
    }
  }

  &--green {
    background-color: var(--light-green-2);
    border-color: var(--light-green-2);
  }

  &--medium {

    @include mq($dt) {
      padding: .8rem 6rem;
    }
  }

  &--wide {

    @include mq($dt) {
      padding: .8rem 20rem;
    }
  }

  &--100 {
    width: 100%;
  }


}

.link {
  font-family: var(--font-mono);
  font-size: 1.6rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transition: all .3s var(--easing);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::after {
      transform: scaleX(0);
    }
  }
}

.animated-underline {
  @media (hover: hover) and (pointer: fine) {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transition: all .3s var(--easing);
    transform: scaleX(0);
  }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}



.wysiwyg {
  a {
    color: inherit;
    text-decoration: underline;
  }

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

}