@use '../global/' as *;

:root {

  //
  // Fonts
  //

  --font: "Wagram", serif;
  --font-mono: "Wagram Mono", monospace;

  //
  // Colors
  //

  --black: #1A1A1A;
  --white: #FEFEFE;
  --beige: #E7D8C8;
  --light-grey: #D8D8D8;

  --blue: #4E758B;
  --orange: #CD5E30;
  --pale-yellow: #DFCD9D;
  --yellow: #D69626;
  --dark-grey: #2E2F33;
  --brown: #754328;

  //
  // Other
  //

  --easing: cubic-bezier(.22, .61, .36, 1);
  --max-width: 170rem;

  --side-padding-mob: 1.6rem;
  --side-padding-dt: 2.4rem;

  --header-height: 6rem;

}