@use '../global/' as *;

:root {

  //
  // Fonts
  //

  --font: "Wagram", serif;
  --font-mono: "Wagram Mono", monospace;

  //
  // Colors
  //

  --black: #1A1A1A;
  --white: #FEFEFE;
  --beige: #E7D8C8;
  --light-grey: #D8D8D8;

  --blue: #4E758B;
  --orange: #CD5E30;
  --pale-yellow: #DFCD9D;
  --yellow: #D69626;
  --dark-grey: #2E2F33;
  --brown: #754328;




  // TODO: ROGANIC REMOVE
  --pale-orange: #F5EADF;
  --green: #456F39;
  --light-green: #C4EBD9;
  --light-green-2: #E3E9E1;
  --light-green-3: #DCE7E1;
  --light-blue: #E8F7FF;
  --ochre: #9D3A00;
  --maroon: #55210E;
  --yellow: #CEAF2F;




  //
  // Other
  //

  --easing: cubic-bezier(.22, .61, .36, 1);
  --max-width: 170rem;

  --side-padding-mob: 1.6rem;
  --side-padding-dt: 2.4rem;

  --header-height: 6rem;

}