@use '../global/'as *;

:root {

  //
  // Fonts
  //

  --font: "Satoshi", sans-serif;

  //
  // Colors
  //

  --yellow: #F5FF63;
  --dark-yellow: #E3EC5C;
  --navy-blue: #232B38;
  --black: #1D1C1C;
  --grey-1: #818181;
  --grey-2: #E6E6E6;
  --grey-3: #CFCFCF;
  --grey-4: #E0E0E0;

  --bg-primary: var(--grey-2);
  --bg-secondary: var(--navy-blue);

  --border: var(--grey-3);

  --text-primary: var(--black);
  --text-secondary: var(--grey-1);

  --easing: cubic-bezier(.22, .61, .36, 1);
  --max-width: 170rem;

  --side-padding-mob: 1.6rem;
  --side-padding-dt: 2.4rem;

  --header-height: 6rem;

}