{% set asset_text_data = {
    "image": "https://placehold.co/690x520/",
    "video": false,
    "alt": "Service 1",
    "text_html": "
    <p>Mat has been involved in hospitality for more the 15 years. Mat Founds Kinn - 2017 with the ethos of representing true artisans designers and brands to create bespoke dining sets.</p>
    <p>Isn’t life wonderful? Paths cross, passions align and suddenly a beautiful connection is made. One that seems to make sense, an understanding and a relationship built on trust. This is how we like to work. From our creative craftspeople, to talented chefs and everyone in between, we put our heart and soul into finding unique products and the kind of people you want to work with.</p>
    <p>We enjoy good food, great produce, quality products and relish the opportunity to create new food memories (probably while reminiscing about old ones). We understand how the texture of a plate can change the feel of a dish and how sublime it is to eat something delicious off of a perfectly proportioned spoon. We get it. We also get how time consuming it can be sourcing products when you need them. That’s why we’re here; to find the best craftspeople possible to fit your story, so you don’t have to.</p>
    ",
} %}

{% set mono_list_data = {
  "asset": {
    "image": "https://placehold.co/690x520/",
    "video": false,
    "alt": "Service 1",
  },
  "texts": [
    {
      "text_html": "<p>2017<br>Starting with just two designers and one brand, Odd Standard, Renskalla and Skeppshult.</p>",
    },
    {
      "text_html": "<p>2017<br>Our first client - aim high - Claridges and Fera supplying essential back of house equipment, tableware and ingredients.</p>",
    },
    {
      "text_html": "<p>2018<br>Mat secures first major hotel “The Newt In Somerset” organising all procurement and bespoke tableware designs to run throughout the hotel.</p>",
    },
    {
      "text_html": "<p>2020<br>Mat secures first major hotel “The Newt In Somerset” organising all procurement and bespoke tableware designs to run throughout the hotel.</p>",
    },
    {
      "text_html": "<p>2021<br>Kinn is now a team of 10, with a portfolio of 100+ designers and brands.</p>",
    },
    {
      "text_html": "<p>2022<br>Kinn is now a team of 10, with a portfolio of 100+ designers and brands.</p>",
    },
    {
      "text_html": "<p>2023<br>Kinn is now a team of 10, with a portfolio of 100+ designers and brands.</p>",
    },
    {
      "text_html": "<p>2024<br>Kinn is now a team of 10, with a portfolio of 100+ designers and brands.</p>",
    },
    {
      "text_html": "<p>2025<br>Kinn is now a team of 10, with a portfolio of 100+ designers and brands.</p>",
    },
  ],
  "side_text_html": "<p><strong>We only partner with people who share our passion and commitment for great quality products.</strong> – Kinto Japan</p>"
} %}

{% set big_text_data = {
    "text_html": "<p>We specialise in procuring all front and back of house requirements for new restaurant, hotel and bar openings. Let's make something beautiful together.</p>",
    "link_1": {
        "url": "#",
        "title": "Front of house",
        "short_title": "FOH",
    },
    "link_2": {
        "url": "#",
        "title": "Back of house",
        "short_title": "BOH",
    },
    "align": "left",

} %}

{% set text_columns = {
  "items": [
    {
      "heading": "Projects",
      "columns": [
        {
          "items": [
            {
              "title": "17 Bruton Street",
              "url": "#",
              "rating": "3",
            },
            {
              "title": "Gaia",
              "url": "#",
            },
            {
              "title": "Joro",
              "url": "#",
            },
            {
              "title": "The Newt",
              "url": "#",
              "rating": "2",
            }
          ]
        },
        {
          "items": [
            {
              "title": "Gaia",
              "url": "#",
              "rating": "2",
            },
            {
              "title": "Gintrap",
              "url": "#",
            },
            {
              "title": "Ikoyi",
              "url": "#",
            },
            {
              "title": "Lucky Cat London",
              "url": "#",
              "rating": "2",
            },
            {
              "title": "Lucky Cat Manchester",
              "url": "#",
            },
            {
              "title": "Lucky Cat Miami",
              "url": "#",
              "rating": "2",
            }
          ]
        },
        {
          "items": [
            {
              "title": "The Newt",
              "url": "#",
              "rating": "2",
            },
            {
              "title": "The Newt",
              "url": "#",
            },
            {
              "title": "The Newt",
              "url": "#",
            }
          ]
        }
      ],

    },
    {
      "heading": "Brands",
      "footnote": "We only partner with people who share our passion and commitment for great quality products.",
      "columns": [
        {
          "items": [
            {
              "title": "The Newt",
              "url": "#",
            },
            {
              "title": "The Newt",
              "url": "#",
            },
            {
              "title": "The Newt",
              "url": "#",
              "footnote": true
            }
          ]
        }
      ]
    },
    {
      "heading": "Designers & Artisans",
      "columns": [
        {
          "items": [
            {
              "title": "The Newt",
              "url": "#",
            },
            {
              "title": "The Newt",
              "url": "#",
            },
            {
              "title": "The Newt",
              "url": "#",
            }
          ] 
        },
        {
          "items": [
            {
              "title": "The Newt",
              "url": "#",
            },
            {
              "title": "The Newt",
              "url": "#",
            },
            
          ]
        }
      ],
    },

  ],
  "footenote__dt": {
    "text": "All these brands are exclusively represented by Kinn Collective in the UK",
    "columns": "4/7"
  }
} %}


{% set logos_data = {
    "heading": "WE WORK WITH",
    "direction": "rtl",
    "logos": [
        {
            "image": "https://placehold.co/100x200",
            "alt": "Logo 1",
        },
        {
            "image": "https://placehold.co/500x100",
            "alt": "Logo 2",
        },
        {
            "image": "https://placehold.co/150x100",
            "alt": "Logo 3",
        },
        {
            "image": "https://placehold.co/100x100",
            "alt": "Logo 4",
        },
        {
            "image": "https://placehold.co/100x120",
            "alt": "Logo 5",
        },
        {
            "image": "https://placehold.co/120x100",
            "alt": "Logo 6",
        },
        {
            "image": "https://placehold.co/200x100",
            "alt": "Logo 7",
        },
        {
            "image": "https://placehold.co/100x100",
            "alt": "Logo 8",
        }
    ]
} %}

{% extends './base.twig' %}

{% block body_class %}about-page
{% endblock %}

{% block header %}
  {% include './partials/header.twig' with { "current_page": "about" } %}     
{% endblock %}

{% block content %}
  
  <div class="pt-20 pt-dt-70"></div>
  
  {% include './partials/text-asset.twig' with { "data": asset_text_data } %}

  <div class="pt-60 pt-dt-90"></div>

  {% include './partials/mono-list-asset.twig' with { "data": mono_list_data } %}

  <div class="pt-50 pt-dt-100"></div>

  {% include './partials/big-text.twig' with { "data": big_text_data } %}

  <div class="pt-50 pt-dt-100"></div>

  {% include './partials/text-columns.twig' with { "data": text_columns } %}

  <div class="pt-50"></div>

  {% include './partials/logos-ticker.twig' with { "data": logos_data } %}

	<div class="pt-50"></div>
  
{% endblock %}

{% block footer %}
  {% include './partials/footer.twig' with { "class": "bg-pale-yellow" } %}
{% endblock %}
