<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="noindex, nofollow">
		<title>
			{% block title %}Kinn Collective
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/dist/css/main.css">
	</head>
	<body class="{% block body_class %}{% endblock %}">
		<header>
			{% block header %}{% endblock %}
		</header>

		<main class="main"> {% block content %}{% endblock %}
			</main>

			<footer>
				{% block footer %}
					{% include './partials/footer.twig' %}
				{% endblock %}
			</footer>


			{# <intro-anim>
				<section class="intro-anim">
					<div class="intro-anim__inner container pt-32 pb-32">

						<div class="intro-anim__bg">
						</div>


						<div class="intro-anim__bg-left">
						</div>
					
						{% include "./partials/logo-big-svg.twig" with { "class": "intro-anim__logo" }  %}

						{% include "./partials/logo-svg.twig" with { "class": "intro-anim__r" } %}

						<div class="intro-anim__bottom">
							<div class="intro-anim__time upper fs-25">
								<time-el></time-el>
							</div>

							<div class="intro-anim__address fs-25">
								402-403, Lee garden 1 Causeway Bay, Honk Kong
							</div>

						</div>
					</div>
				</section>
			</intro-anim> #}
		</body>
		{# <script src="/dist/js/intro-anim.js"></script> #}
</html>
