<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="noindex, nofollow">
		<title>
			{% block title %}Baltic Energy Council
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/dist/css/main.css">
	</head>
	<body class="{% block body_class %}{% endblock %}">
	  
		{% block top %}{% endblock %}
		
		<header class="header">
			{% block header %}{% endblock %}
		</header>

		<main class="main"> {% block content %}{% endblock %}
			</main>

			<footer>
				{% block footer %}
					{% include './partials/footer.twig' %}
				{% endblock %}
			</footer>


		</body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
		<script src="/library/js/main.js"></script>
		<script src="/library/js/style.js"></script>
	</html>
