
{% set assets_row_data = [
    {
        "image": "https://placehold.co/570x750/000/fff",
        "video": false,
        "alt": "Slide 1",
        "caption": "Caption Lorem Psumm",
    },
    {
        "image": "https://placehold.co/570x750/000/fff",
        "video": false,
        "alt": "Slide 1",
        "caption": "Caption Lorem Psumm",
    },
] %}


{% set text_ticker_data = {
    "direction": "rtl",
    "texts": [
        "Creativity is a wild mind and a disciplined eye",
        "Creativity is a wild mind and a disciplined eye",
        "Creativity is a wild mind and a disciplined eye",
        "Creativity is a wild mind and a disciplined eye",
        "Creativity is a wild mind and a disciplined eye",
    ]
} %}

{% set contact_block_data = {
    "image": "https://placehold.co/700x900/",
    "video": false,
    "alt": "Service 1",
    "text": {
      "heading_1": "Contact Us",
      "text_1_html":"<p>As Kinn Collective we specialise in procuring all front and back of house requirements for new restaurant, hotel and bar openings. Let's make something beautiful together.</p>",
      "link_1": {
        "url": "#",
        "title": "Whatsapp",
        "short_title": "Whatsapp",
    },
    "link_2": {
        "url": "#",
        "title": "Book a call",
        "short_title": "Book a call",
    },

    "contact_info_html": "<p>
      Mathew Froggatt <br>
      mat@kinncollective.co.uk <br>
      +44 7730 133440 <br>
      <br>
      <br>
      Laura Powell <br>
      laura@kinncollective.co.uk <br>
      +44 7939 39 77 62 <br>
      <br>
      <br>
      Lucie Prior <br>
      lucie@kinncollective.co.uk <br>
      +44 7983 983110 <br>
      <br>
      <br>
      ▶ Instagram <a href='https://www.instagram.com/kinn_collective/' target='_blank'>@kinn_collective</a>
      </p>
      ",
    "heading_2": "London Showroom",
    "text_2_html": "<p>
      Kinn Collective C/O Lewis Wark
      3rd Floor, Cobham House <br>
      9 Warwick Court <br>
      London, WC1R 5DJ, UK
      </p>",
      "colophon_html": "<p>
      Identity & Website: GP.Works <br>
      Typeface: Wagram by Malou Verlomme <br>
      Photography: All images are copyrighted by their respective owners.
      </p>"
    }
} %}

{% set quote_data = {
  "text_html": "<p> We have developed a great partnership with Kinn Collective and their dedication to our business is evident in all aspects. We appreciate their attention to detail and creative approach to bringing our brand to the next level among professional Chefs, retail and online on the UK market</p>",
  "author": "—Michael Vesterlund, Vice President Global Sales, Skeppshult"
} %}

{% extends './base.twig' %}

{% block body_class %}contact-page bg-orange
{% endblock %}

{% block header %}
  {% include './partials/header.twig' with { "current_page": "contact" } %}     
{% endblock %}

{% block content %}
  
  <div class="pt-50"></div>
  
  {% include './partials/assets-row.twig' with { "data": assets_row_data } %}

  <div class="pt-60 pt-dt-90"></div>

  {% include './partials/text-ticker.twig' with { "data": text_ticker_data } %}
  
  <div class="pt-50 pt-dt-100"></div>

  {% include './partials/contact-block.twig' with { "data": contact_block_data } %}
  
  <div class="pt-100 pt-dt-60"></div>

  {% include './partials/quote.twig' with { "data": quote_data } %}
  
  <div class="pt-100 pt-dt-70"></div>

{% endblock %}

{% block footer %}
  {% include './partials/footer.twig' with { "class": "bg-white clr-orange" } %}
{% endblock %}
