{% set single_asset_data = {
        "image": "https://placehold.co/1200x800/000/fff",
        "video": false,
        "alt": "Slide 1",
        "caption": "Caption Lorem Psum",
} %}

{% set featured_projects = [
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Estelle Manor",
        "subtitle": "Eynsham, Witney Oxfordshire, UK",
        "url": "/estelle-manor",
        "rating": 3,
        "eco": true,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Taymouth Castle",
        "subtitle": "Kenmore, Aberfeldy Scotland",
        "url": "#",
        "rating": false,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Lyla",
        "subtitle": "Edinburgh Scotland",
        "url": "#",
        "rating": false,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Estelle House",
        "subtitle": "Eynsham, Witney Oxfordshire, UK",
        "url": "#",
        "rating": false,
        "eco": false,
    }
] %}

{% set big_text_data = {
    "text_html": "<p>Estelle Manor is a prestigious country club located in Oxfordshire boasting a magnificent 60-acre estate within 3,000 acres of parkland. This elegant estate serves as a countryside retreat for members of the private club Maison Estelle.</p>",
    "align": "left"
} %}

{% set about_data = {
    "heading": "Estelle Manor",
    "text_html": "<p>Our team played a crucial role in equipping Estelle Manor with comprehensive back-of-house kitchen equipment, premium barware for their numerous bars, and front-of-house essentials for their four restaurants. We ensured all hospitality needs were expertly met and contributed to the sophisticated and inviting atmosphere of Estelle Manor’s dining spaces.</p>
    <p>
    OUR KEY CONTRIBUTIONS 
    <br>
    <br>
    We were trusted to extend our partnership from Maison Estelle to their countryside companion, Estelle Manor, based on the success of the previous project’s delivery and the desire to achieve the same continuity of visual identity.
    <br>
    <br>
    Continuing our relationship with the Ennismore brand, we worked with Estelle Manor’s design team to mirror the high end aesthetic of Maison Estelle and create a cohesive dining experience, once again calling on Ginori to provide their stunning core tableware collection. 
    <br>
    <br>
    We supplied top-tier kitchen essentials and luxury barware to facilitate a seamless dining service, paired with meticulous logistic management to ensure all items were delivered punctually and efficiently, supporting the smooth running of hospitality services at Estelle Manor.
    <br>
    <br>
    As we do for Maison Estelle, Kinn Collective continues to support Estelle Manor with all operational needs, ongoing maintenance support and any further consultation requiring bespoke tabletop solutions. </p>",
    "table": {
        "year": "2024",
        "location": "Eynsham, Witney. Oxfordshire, UK",
        "services": ["Back-of-House Kitchen Equipment", "Barware", "Front-of-House Essentials", "Bespoke Tableware", "Customisation", "Logistics Re-orders"]
    },
    "asset": {
        "image": "https://placehold.co/456x345/000/fff",
        "video": false,
        "alt": "Slide 1",
    }
} %}

{% set carousel_1_data = {
    "heading": false,
    "items": [
        {
            "asset": {
                "image": "https://placehold.co/713x455",
                "alt": "Kinto Japan",
                "video": false,
            },  
            "caption": "IKOYI, London, UK",
            "link": {
                    "url": "#",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/479x660",
                "alt": "Kinto Japan",
                "video": false,
            },
            "caption": "IKOYI, London, UK",
            "link": {
                "url": "#",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/700x460",
                "alt": "Kinto Japan",
                "video": false,
            },
            "caption": "IKOYI, London, UK",
            "link": {
                "url": "#",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/713x455",
                "alt": "Kinto Japan",
                "video": false,
            },  
            "caption": "IKOYI, London, UK",
            "link": {
                    "url": "#",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/479x660",
                "alt": "Kinto Japan",
                "video": false,
            },
            "caption": "IKOYI, London, UK",
            "link": {
                "url": "#",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/700x460",
                "alt": "Kinto Japan",
                "video": false,
            },
            "caption": "IKOYI, London, UK",
            "link": {
                "url": "#",
            },
        }
    ]
} %}

{% extends './base.twig' %}

{% block body_class %}projects-page bg-yellow
{% endblock %}

{% block header %}
	{% include './partials/header.twig' with { "current_page": "projects" } %}
{% endblock %}

{% block content %}

	<div class="pt-0 pt-dt-70"></div>

	{% include './partials/single-asset.twig' with { "data": single_asset_data } %}

	<div class="pt-50 pt-dt-70"></div>

	{% include './partials/big-text.twig' with { "data": big_text_data } %}

	<div class="pt-30 pt-dt-90"></div>
	
    {% include './partials/about-project.twig' with { "data": about_data } %}
	
    <div class="pt-120 pt-dt-150"></div>
    
    {% include './partials/items-carousel.twig' with { "data": carousel_1_data } %}

	<div class="pt-80 pt-dt-160"></div>

	{% include './partials/projects-grid.twig' with { "data": featured_projects, "heading": "Related Projects" } %}

	<div class="pt-80 pt-dt-100"></div>

{% endblock %}

{% block footer %}
	{% include './partials/footer.twig' with { "class": "bg-blue" } %}
{% endblock %}
