{% set events_data = {
    "block_1": {
      "size": "l",
      "assets": [
        {
          "image": "./images/ro-4.jpg",
          "alt": "Example Image"
        },
        {
          "image": "./images/ro-2.jpg",
          "alt": "Example Image"
        }
      ]
    },
    "block_2": {
      "title": "Our Private dining rooms",
      "text_html": "Our private dining room, an intimate, maple-panelled room, seats up to 12 people around a beautiful walnut table. The sliding doors can be closed for extra privacy, or left open to allow the atmosphere of the main dining room to pervade the private space.",
      "assets": [
        {
          "image": "./images/ro-1.jpg",
          "alt": "Placeholder Image 1"
        },
        {
          "image": "./images/ro-2.jpg",
          "alt": "Placeholder Image 2"
        },
        {
          "image": "./images/ro-3.jpg",
          "alt": "Placeholder Image 3"
        }

      ],
      "link": {
        "url": "#",
        "text": "Enquire now"
      },
      "flip_mobile": true
    },
    "block_3": {
      "title": "Our curated season menus",
      "text_html": "Experience our selection of event menus; a delightful showcase of Hong Kong’s rich flavours with a perfect blend of dishes that will captivate your guests and create unforgettable memories. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.",
      "assets": [
        {
          "image": "./images/ro-2.jpg",
          "alt": "Placeholder Image 1"
        },
        {
          "image": "./images/ro-3.jpg",
          "alt": "Placeholder Image 2"
        }
      ],
      "links": [
        {
        "popup": "#info-popup",
        "text": "Enquire now"
        },
        {
          "popup": "#menu-popup",
          "text": "View menus"
        }  
      ],
    }
  }
%}

{% set popup_menu = {
  "id": "menu-popup",
  "bg_color": "light-green-3",
  "assets": [
    {
      "image": "./images/ro-2.jpg",
      "alt": "Placeholder Image 2"
    },
    {
      "image": "./images/ro-3.jpg",
      "alt": "Placeholder Image 1"
    },
    {
      "image": "./images/ro-4.jpg",
      "alt": "Placeholder Image 3"
    }
  ],
  "items": [
    {
      "title": "Snacks",
      "text_html": "
        <p>Stewed rabbit with lovage</p>
        <p>Seaweed cracker, lemon sole, sea herbs</p>
        <p>Chestnut, pork and eel all 10.00</p>
      "
    },  
    {
      "title": "To start",
      "text_html": "
        <p>Roasted and raw scallop with cucumber, buckwheat and mushroom 22.00</p>
        <p>Cylindra beetroot, roe deer, blackcurrant, kale and hemp 21.00</p>
        <p>Pink fir potato with duck hearts, watercress and Tunworth 19.00</p>
        <p>Cured Arctic char, Mylor prawn, bergamot and radish 19.00</p>
        <p>Hispi cabbage with pork jowl, chicory, sunflower, apple marigold 18.00</p>
        <p>Roasted monkfish with Kalibos cabbage, mussel and blackberry 38.00</p>
        <p>Halibut cooked in pine, leeks, parsley and whey 37.00</p>
        <p>Cornish lamb, chervil root, crosnes, seeds and cocoa nib 39.00</p>
        <p>Roasted goose, turnip, elderberry, sprout and liver 38.00</p>
        <p>Hay roasted celeriac, apple, malt and brown butter 28.00</p>
      "
    }, 
    {
      "title": "Dessert",
      "text_html": "
        <p>Condensed milk mousse, oolong, kyoho grape</p>
        <p>Amadei chocolate, Lychee, hazelnut</p>
        <p>Strawberry, meadowsweet, yoghurt</p>
      "
    }
  ]
} %}

{% extends './base.twig' %}

{% block header %}
	{% include './partials/header.twig' %}
{% endblock %}

{% block body_class %}bg-light-blue{% endblock %}

{% block content %}
	<div class="pt-20 pb-20">
		{% include './partials/single-asset.twig' with {"data": events_data.block_1} %}
	</div>
	<div class="pb-50 pb-dt-80">
		{% include './partials/text-with-image.twig' with {"data": events_data.block_2} %}
	</div>

	{% include './partials/rich-links-grid.twig' with {"bg_color": "pale-orange"} %}

	<div class="">
		{% include './partials/text-with-image.twig' with {"data": events_data.block_3} %}
	</div>

	{% include './partials/pop-up.twig' with {"data": popup_menu} %}
{% endblock %}

{% block footer %}
	{% include './partials/footer.twig' %}
{% endblock %}
