{% extends './base.twig' %}


{% block header %}
	{% include './partials/header.twig' %}
{% endblock %}

{% block content %}

		{% include './partials/hero.twig'  %}
	<section>
		<h3>About the initiative</h3>
		<h2>About the Baltic Energy Council</h2>
		<p>The Baltic Energy Council establishes a lasting platform for energy cooperation across the Baltic Sea Region. We bring together business, academia, and NGOs to foster dialogue, share knowledge, and implement activities that strengthen energy security and accelerate the green transition in the Baltic Sea Region.</p>
		<button>Learn more</button>
		<img src="/assets/images/solar-panels.jpg" alt="About the initiative">
	</section>
	<section>
		<h3>Focus areas</h3>
		<h2>Our focus areas</h2>
		<p>The Baltic Energy Council focuses on two key areas that shape the region’s energy future: decarbonisation and energy resilience, influencing several energy sectors.</p>
		<button>Explore focus areas</button>
		<div>
			<div>
				<span>1. Energy resilience and security</span>

				{% block icon_1 %}
					{% include './svgs/icon-1.twig' %}
				{% endblock %}
				<h4>Physical security of energy infrastructure</h4>
				<p>Safeguarding security of energy infrastructure through strong public-private cooperation.</p>
			</div>
			<div>
				<span>1. Energy resilience and security</span>
				{% block icon_2 %}
					{% include './svgs/icon-2.twig' %}
				{% endblock %}
				<h4>Offshore Wind</h4>
				<p>Joint projects and streamlined procedures to unlock 93 GW of Baltic offshore wind potential.</p>
			</div>
			<div>
				<span>2. Decarbonisation</span>
				{% block icon_3 %}
					{% include './svgs/icon-3.twig' %}
				{% endblock %}
				<h4>Resilient flows of energy carriers</h4>
				<p>Baltic enabling a diversified energy supply to the regions.</p>
			</div>

			<div>
				<span>2. Decarbonisation</span>
				{% block icon_2 %}
					{% include './svgs/icon-2.twig' %}
				{% endblock %}
				<h4>Hydrogen & Derivatives</h4>
				<p>Aligning regional supply and demand.</p>
			</div>
			<div>
				<span>2. Decarbonisation</span>
				{% block icon_1 %}
					{% include './svgs/icon-1.twig' %}
				{% endblock %}
				<h4>Carbon Management (CCUS)</h4>
				<p>Developing CO₂ storage capacity in the Baltic Sea</p>
			</div>
			Baltic offers plenty of opportunities – join us and expand the scope further.
		</div>

	</section>
{% endblock %}
