{% set news_data = {
    "text_block_1": {
      "title": "NEWS Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.",
      "anim": true
    },
     "featured_article": {
      "title": "Featured Blog Title",
      "text_html": "<p>Farm-to-table concept, micro-herbs are grown in-house and sustainable produce is sourced from local organic farms. The tasting menus showcase deceptively simple dishes that burst with flavour and amazing textures, a nod to the chef’s philosophy and ethos. The bar serves seasonal cocktails, perfect as pre- or post-dinner drinks and also offers enticing non-alcoholic drink-food pairing.</p>",
      "image": "./images/ro-4.jpg",
      "alt": "Placeholder Image 1",
      "link": {
        "url": "#",
        "text": "CTA"
        },
    },
    "article_1": {
      "title": "Our suppliers and ethos",
      "text_html": "<p>Experience our selection of event menus; a delightful showcase of Hong Kong’s rich flavours with a perfect blend of dishes that will captivate your guests and create unforgettable memories. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.</p>",
      "image": "./images/ro-1.jpg",
      "alt": "Placeholder Image 1",
      "link": {
        "url": "#",
        "text": "CTA"
        },
      "flip": true
    },
    "article_2": {
      "title": "Our suppliers and ethos",
      "text_html": "<p>Experience our selection of event menus; a delightful showcase of Hong Kong’s rich flavours with a perfect blend of dishes that will captivate your guests and create unforgettable memories. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.</p>",
      "image": "./images/ro-1.jpg",
      "alt": "Placeholder Image 1",
      "link": {
        "url": "#",
        "text": "CTA"
        },
      "flip": true
    }
  }
%}

{% extends './base.twig' %}

{% block body_class %}news-page{% endblock %}

{% block header %}
	{% include './partials/header.twig' %}
{% endblock %}

{% block content %}

	{% include './partials/text.twig' with {"data": news_data.text_block_1, "class": "pt-100 pb-150 pt-dt-200 pb-dt-200 clr-light-orange bg-ochre"} %}

	{% include './partials/featured-article.twig' with {"data": news_data.featured_article} %}

	{% include './partials/single-article.twig' with {"data": news_data.article_1, "class": "bg-light-green-3"} %}

	{% include './partials/rich-links-ticker.twig' with {"class" : "bg-white"} %}

	{% include './partials/single-article.twig' with {"data": news_data.article_1, "class": "bg-light-blue"} %}

{% endblock %}

{% block footer %}
	{% include './partials/footer.twig' %}
{% endblock %}
