{% set top_slider_data = {
    "slides": [
        {
            "image": "https://placehold.co/1200x800/000/fff",
            "alt": "Slide 1",
            "text_html": "<p>L’Enclume is renowned for its farm-to-table ethos and the passion and dedication of Simon Rogan and his team.</p>",
            "rating": 3,
            "eco": true,
            "info_1": "L’Enclume Cartmel, Cumbria , UK",
            "info_2": "Ceramic and Tableware",
        },
        {
            "image": "https://placehold.co/1200x800/000/fff",
            "alt": "Slide 2",
            "text_html": "<p>L’Enclume 222 is renowned for its farm-to-table ethos and the passion and dedication of Simon Rogan and his team.</p>",
            "rating": 2,
            "eco": false,
            "info_1": "L’Enclume Cartmel, Cumbria , UK",
            "info_2": "Ceramic and Tableware",
        },
        {
            "image": "https://placehold.co/1200x800/000/fff",
            "alt": "Slide 3",
            "text_html": "<p>L’Enclume 333 is renowned for its farm-to-table ethos and the passion and dedication of Simon Rogan and his team.</p>",
            "rating": 4,
            "eco": true,
            "info_1": "L’Enclume Cartmel, Cumbria , UK",
            "info_2": "Ceramic and Tableware",
        }
    ]
} %}

{% set featured_projects = [
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Estelle Manor",
        "subtitle": "Eynsham, Witney Oxfordshire, UK",
        "url": "/estelle-manor",
        "rating": 3,
        "eco": true,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Taymouth Castle",
        "subtitle": "Kenmore, Aberfeldy Scotland",
        "url": "#",
        "rating": false,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Lyla",
        "subtitle": "Edinburgh Scotland",
        "url": "#",
        "rating": false,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Estelle House",
        "subtitle": "Eynsham, Witney Oxfordshire, UK",
        "url": "#",
        "rating": false,
        "eco": false,
    }
] %}


{% set logos_data = {
    "heading": "Our Partners",
    "direction": "ltr",
    "logos": [
        {
            "image": "https://placehold.co/100x200",
            "alt": "Logo 1",
        },
        {
            "image": "https://placehold.co/500x100",
            "alt": "Logo 2",
        },
        {
            "image": "https://placehold.co/150x100",
            "alt": "Logo 3",
        },
        {
            "image": "https://placehold.co/100x100",
            "alt": "Logo 4",
        },
        {
            "image": "https://placehold.co/100x120",
            "alt": "Logo 5",
        },
        {
            "image": "https://placehold.co/120x100",
            "alt": "Logo 6",
        },
        {
            "image": "https://placehold.co/200x100",
            "alt": "Logo 7",
        },
        {
            "image": "https://placehold.co/100x100",
            "alt": "Logo 8",
        }
    ]
} %}

{% set single_asset_data = {
        "image": "https://placehold.co/1200x800/000/fff",
        "video": false,
        "alt": "Slide 1",
        "title": "Ikoyi",
        "text_html": "<p>IKOYI is a pioneering restaurant that builds spice-based cuisine around British micro-seasonality</p>",
        "rating": 3,
        "eco": true,
        "info": "Strand, London UK",
        "url": "#",
} %}

{% set text_btns_data = {
    "text_1_html": "<p>We enjoy nothing more than locking horns about the joys of cast iron cooking, or getting excited about what dish we’d create on our dream plate. If this is what you’re all about, we’d love to hear from you.</p>",
    "text_2_html": "<p><em>We’re a team of hospitality professionals, designers, and engineers, all with a passion for creating beautiful, functional spaces.</em> – Kinto Japan</p>",
    "link_1": {
        "url": "#",
        "title": "Whatsapp us",
        "target": "_blank",
    },
    "link_2": {
        "url": "#",
        "title": "BOOK A CALL",
        "target": "_blank",
    }
} %}

{% set featured_projects_2 = [
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Estelle Manor",
        "subtitle": "Eynsham, Witney Oxfordshire, UK",
        "url": "#",
        "rating": 3,
        "eco": true,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Taymouth Castle",
        "subtitle": "Kenmore, Aberfeldy Scotland",
        "url": "#",
        "rating": false,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Lyla",
        "subtitle": "Edinburgh Scotland",
        "url": "#",
        "rating": false,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Estelle House",
        "subtitle": "Eynsham, Witney Oxfordshire, UK",
        "url": "#",
        "rating": false,
        "eco": false,
    },
     {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Da Terra",
        "subtitle": "Bethnal Green,London, UK",
        "url": "#",
        "rating": 2,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Twenty Two",
        "subtitle": "Grosvenor Square, London UK",
        "url": "#",
        "rating": false,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "Roganic",
        "subtitle": "Marylebone London UK",
        "url": "#",
        "rating": 1,
        "eco": false,
    },
    {
        "image": "https://placehold.co/340x500/000/darkgrey",
        "video": false,
        "title": "The Stratford",
        "subtitle": "Stratford, London UK",
        "url": "#",
        "rating": false,
        "eco": false,
    }
] %}

{% extends './base.twig' %}

{% block body_class %}projects-page
{% endblock %}

{% block header %}
	{% include './partials/header.twig' with { "current_page": "projects" } %}
{% endblock %}

{% block content %}

	{% include './partials/full-slider.twig' with { "data": top_slider_data } %}

	<div class="pt-20 pt-dt-60"></div>

	{% include './partials/projects-grid.twig' with { "data": featured_projects } %}

	<div class="pt-50 pt-dt-80"></div>

	{% include './partials/logos-ticker.twig' with { "data": logos_data } %}

	<div class="pt-50 pt-dt-80"></div>

	{% include './partials/single-asset-link.twig' with { "data": single_asset_data } %}

	<div class="pt-80 pt-dt-120"></div>

	{% include './partials/text-buttons.twig' with { "data": text_btns_data } %}

	<div class="pt-60"></div>

	{% include './partials/projects-grid.twig' with { "data": featured_projects_2 } %}

	<div class="pt-50 pt-dt-80"></div>

{% endblock %}

{% block footer %}
	{% include './partials/footer.twig' with { "class": "bg-pale-yellow" } %}
{% endblock %}
