{% set list_data = [
    {
        "image": "https://placehold.co/1600x500/ffffff/DDE4E8",
        "video": false,
        "alt": "Service 1",
        "text": "We at Kinn have over a decade of experience in providing tailored solutions to the hospitality sector, specialising in: ",
    },
    {
        "image": "https://placehold.co/1600x500/DDE4E8/ffffff",
        "video": false,
        "alt": "Service 2",
        "text": "The procurement of all front and back of house requirements.",
    },
    {
        "image": "https://placehold.co/1600x500/D3DDE2/DDE4E8",
        "video": false,
        "alt": "Service 3",
        "text": "Providing all essential back of house equipment."
    },
    {
        "image": "https://placehold.co/1600x500/C7D3DA/DDE4E8",
        "video": false,
        "alt": "Service 4",
        "text": "Working with a curated portfolio of designers and premium brands to create custom designs."
    },
    {
        "image": "https://placehold.co/1600x500/7593A5/DDE4E8",
        "video": false,
        "alt": "Service 5",
        "text": "Full project management; from initial consultation to concept, logistics and delivery."
    },

]%}


{% set carousel_data = {
    "heading": "Featured FOH Collective Designers",
    "items": [
        {
            "asset": {
                "image": "https://placehold.co/713x455",
                "alt": "Kinto Japan",
                "video": false,
            },  
            "caption": "Florentine Kitchen Knives",
            "link": {
                    "url": "/florentine-kitchen-knives",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/479x660",
                "alt": "Kinto Japan",
                "video": false,
            },
            "caption": "Florentine Kitchen Knives",
            "link": {
                "url": "/florentine-kitchen-knives",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/700x460",
                "alt": "Kinto Japan",
                "video": false,
            },
            "caption": "Florentine Kitchen Knives",
            "link": {
                "url": "/florentine-kitchen-knives",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/713x455",
                "alt": "Kinto Japan",
                "video": false,
            },  
            "caption": "Florentine Kitchen Knives",
            "link": {
                    "url": "/florentine-kitchen-knives",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/479x660",
                "alt": "Kinto Japan",
                "video": false,
            },
            "caption": "Florentine Kitchen Knives",
            "link": {
                "url": "/florentine-kitchen-knives",
            },
        },
        {
            "asset": {
                "image": "https://placehold.co/700x460",
                "alt": "Kinto Japan",
                "video": false,
            },
            "caption": "Florentine Kitchen Knives",
            "link": {
                "url": "/florentine-kitchen-knives",
            },
        }
    ]
} %}


{% set bottom_data = {
    "align": "left",
    "width": "narrow",
    "text_html": "<p>We specialise in procuring all front and back of house requirements for new restaurant, hotel and bar openings. Let's make something beautiful together.</p>",
    "link_1": {
        "url": "#",
        "title": "Front of house",
        "short_title": "FOH",
    },
    "link_2": {
        "url": "#",
        "title": "Back of house",
        "short_title": "BOH",
    }
} %}



{% extends './base.twig' %}

{% block body_class %}services-page
{% endblock %}

{% block header %}
	{% include './partials/header.twig' with { "current_page": "services" } %}
{% endblock %}

{% block content %}

	{% include './partials/text-on-asset-list.twig' with { "data": list_data } %}

	<div class="pt-160 pt-dt-240"></div>
    
    {% include './partials/items-carousel.twig' with { "data": carousel_data } %}
	
    <div class="pt-60 pt-dt-100"></div>

    {% include './partials/big-text.twig' with { "data": bottom_data } %}

    <div class="pt-90 pt-dt-100"></div>

{% endblock %}

{% block footer %}
	{% include './partials/footer.twig' with { "class": "bg-dark-grey clr-beige" } %}
{% endblock %}
