{% set text_page_data = {
    "text_block_1": {
      "h1": true,
      "title": "Privacy Policy",
      "big_text_html": "<p>If the date you’re looking for is already fully booked, we recommend adding yourself to the waiting list. We will reach out to those on the waiting list if any tables become available.</p><p>Reservations for 2025 are now open. Sign up to our newsletter to receive priority booking invitations and other news.</p>",
    },
    "text_block_2": {
      "small_text_html": "<p>Farm-to-table concept, micro-herbs are grown in-house and sustainable produce is sourced from local organic farms. The tasting menus showcase deceptively simple dishes that burst with flavour and amazing textures, a nod to the chef’s philosophy and ethos. The bar serves seasonal cocktails, perfect as pre- or post-dinner drinks and also offers enticing non-alcoholic drink-food pairing.</p>",
    },
    "image_block_3": {
      "size": "s",
      "assets": [
        {
          "image": "./images/ro-4.jpg",
          "alt": "Example Image"
        },
        {
          "image": "./images/ro-2.jpg",
          "alt": "Example Image"
        }
      ]
    },
    "text_block_4": {
      "small_text_html": "<p>Farm-to-table concept, micro-herbs are grown in-house and sustainable produce is sourced from local organic farms. The tasting menus showcase deceptively simple dishes that burst with flavour and amazing textures, a nod to the chef’s philosophy and ethos. The bar serves seasonal cocktails, perfect as pre- or post-dinner drinks and also offers enticing non-alcoholic drink-food pairing.</p>
      <p>Farm-to-table concept, micro-herbs are grown in-house and sustainable produce is sourced from local organic farms. The tasting menus showcase deceptively simple dishes that burst with flavour and amazing textures, a nod to the chef’s philosophy and ethos. The bar serves seasonal cocktails, perfect as pre- or post-dinner drinks and also offers enticing non-alcoholic drink-food pairing.</p>
      <p>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ol>
      </p>
      <p>Farm-to-table <a href='https://google.com'>concept</a>, micro-herbs are grown in-house and sustainable produce is sourced from local organic farms. The tasting menus showcase deceptively simple dishes that burst with flavour and amazing textures, a nod to the chef’s philosophy and ethos. The bar serves seasonal cocktails, perfect as pre- or post-dinner drinks and also offers enticing non-alcoholic drink-food pairing.</p>
      <p>Farm-to-table concept, micro-herbs are grown in-house and sustainable produce is sourced from local organic farms. The tasting menus showcase deceptively simple dishes that burst with flavour and amazing textures, a nod to the chef’s philosophy and ethos. The bar serves seasonal cocktails, perfect as pre- or post-dinner drinks and also offers enticing non-alcoholic drink-food pairing.</p>
      <p>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </p>
      <p>Farm-to-table concept, micro-herbs are grown in-house and sustainable produce is sourced from local organic farms. The tasting menus showcase deceptively simple dishes that burst with flavour and amazing textures, a nod to the chef’s philosophy and ethos. The bar serves seasonal cocktails, perfect as pre- or post-dinner drinks and also offers enticing non-alcoholic drink-food pairing.</p>
      ",
      "mono": false,
  }
}
%}


{% extends './base.twig' %}

{% block header %}
	{% include './partials/header.twig' %}
{% endblock %}

{% block content %}
	{% include './partials/text.twig' with {"data": text_page_data.text_block_1, "class": "pt-32 pb-40 pt-dt-100"} %}

	{% include './partials/text.twig' with {"data": text_page_data.text_block_2, "class": "pb-40"} %}

	{% include './partials/single-asset.twig' with {"data": text_page_data.image_block_3, "class" : "pb-20"} %}

	{% include './partials/text.twig' with {"data": text_page_data.text_block_4, "class": "pb-100"} %}

{% endblock %}

{% block footer %}
	{% include './partials/footer.twig' %}
{% endblock %}
